<div class="container">
  <div class="about">
    <div class="text">About Me</div>
    <div class="row">
      <div class="infoFull">
        <div class="col-lg">
          <div class="pf-img">
            <img [defaultImage]="defaultImage" [lazyLoad]="pfImage" [useSrcset]="true" alt="Shyamal" />
            <div class="info">
              <div class="photo">
                <div class="name" id="name">
                  <h1>Hi, I'm Shyamal Guchhait</h1>
                  <h3>I'm a Ph.D. student</h3>
                </div>
                <input type="button" class="btn btn-outline-info" id="btnInfoName" value="hide me" />
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg">
          <div class="infoText">
            I'm a Ph.D. candidate in Indian Institute of Sciece Education and Research (IISER)Kolkata, India,
          </div>
        </div>
      </div>
    </div>
  </div>
</div>