<div class="container">
  <div class="research">
    <div class="text">Research</div>
    <div class="topics">
      <div class class="topic">
        <h4>
          Theoretical and numerical modeling of mode hybridization in Waveguided plasmonic crystals system,(Plasmonics)
        </h4>
        <p>
          Waveguided plasmonic cystal (WPC) systems consist of a periodic metallic layer on top of a thin dielectric
          waveguiding layer. Such systems have recently attracted a lot of attention due to their ability to
          simultaneously control both the electronic and the optical resonances. In such systems, the waveguide modes in
          the dielectric layer and the surface plasmon modes in the metallic layer gets hybridized and yield a number of
          interesting optical effects such as Fano resonance, strong coupling and avoided crossing, bound state in
          continuum, extraordinary transmission of light, enhancement of small optical effects etc. We have numerically
          studied mode hybridization and the emergence of Fano resonance in such system using Finite element methods
          (COMSOL). For excitation with transverse magnetic (TM) polarization, the interference and hybridization of the
          spectrally narrow quasiguided modes in the dielectric layer and the broad surface plasmon modes in the top
          metallic layer leads to spectrally asymmetric Fano resonance. For transverse electric (TE) polarization
          excitation, on the other hand Fano resonance emerges due to the interference of the quasiguided modes with the
          background photon continuum. We have systematically studied the dependence of the Fano resonance on the
          polarization of light and various geometrical parameters of the WPC like the metallic grating width, height,
          periodicity etc. Based on these simulations, the WPC samples were fabricated and subsequent experimental
          investigations on Fano resonance were conducted. In addition to investigating fundamental aspects such as the
          nature of mode hybridization, strong coupling and avoided crossing behaviour, polarization characteristics of
          Fano resonance etc., numerical and experimental studies were also conducted to explore the use Fano resonance
          from optimized WPC system for the detection of arsenite. Indeed, we could demonstrate high sensitive detection
          of arsenite down to ~ 10 ppm using the spectral characteristics of Fano resonance of the WPC system.
        </p>
      </div>
      <div class="topic">
        <h4>
          Giant enhancement of magneto-optical effects in Waveguided Magneto-Plasmonic Crystals (WMPC), (Scientific
          reports, Communications Physics)
        </h4>
        <p>
          In the Waveguided Magneto-Plasmonic Crystals (WMPC) system, the dielectric waveguide layer was replaced
          by a magneto-optical layer. It had been shown earlier that mode hybridization in such systems leads to a
          strong
          enhancement of magneto optical effects, such as Faraday rotation and Faraday ellipticity. We carried out
          systematic studies to unravel the origin of the enhancement. Our studies showed that there are two
          distinctly
          different mechanisms for the enhancement of the magneto optical effects excitation with transverse electric
          (TE)
          and transverse magnetic (TM) polarized light. With TE polarization excitation, where the surface plasmons
          are
          not directly excited, the natural weak value amplification (WVA) of Faraday effects appearing due to the
          spectral domain interference of Fano resonance was the dominant because of the enhancement. For TM
          polarization
          excitation, on the other hand, waveguide-plasmon strong coupling and its universal manifestation of avoided
          crossing played an important role, leading to maximum enhancement of the magneto-optical effects in the
          avoided
          crossing regime. In this regard, we showed that due to the common interferometric origin, the quantum
          mechanical
          concept of WVA of an appropriate weak interaction parameter could naturally evolve in a universal wave
          interference phenomenon, namely, Fano resonance. Specifically, we demonstrated that spectral domain
          interference
          between a continuum mode and a narrow resonance mode having slightly different polarization response could
          indeed provide a natural interferometric WVA of weak Faraday rotation and Faraday ellipticity. This also
          opened
          up a new paradigm of natural weak measurement for gaining fundamental insights and ensuing practical
          applications on various weak interaction effects in rich variety of wave phenomena that originate from fine
          interference effects.
        </p>
      </div>

      <div class="topic">
        <h4>
          Influence of the coherence of spectral domain interference of Fano resonance on the degree of polarization
          of light
        </h4>
        <p>
          We showed an intriguing connection between the coherence of spectral domain interference of two
          electromagnetic
          modes in Fano resonance and the resulting degree of polarization of light. A theoretical treatment was
          developed
          by combining a general electromagnetic model of partially coherent interference of a spectrally narrow and a
          broad continuum mode leading to Fano resonance and the cross-spectral density matrix of the interfering
          polarized fields of light. The model suggested a characteristic variation of the degree of polarization
          across
          the region of spectral dip and the peak of Fano resonance as an exclusive signature of the connection
          between
          the degree of polarization and the coherence of the interfering modes. The predictions of the model was
          experimentally demonstrated in the partially polarized Fano resonance spectra from metal Chalcogenides
          systems,
          which emerged due to the interference of a narrow excitonic mode with the background continuum of scattered
          light in the reflectance spectra from the system. The demonstrated connection between polarization and
          coherence
          in the spectral domain Fano-type interference of electromagnetic modes is fundamentally important in the
          context
          of a broad variety of non-trivial wave phenomena that originate from fine interference effects, which may
          also
          have useful practical implications.
        </p>
      </div>
      <div class="topic">
        <h4>
          Diffraction of an off-axis vector-beam by a tilted aperture, (Journal of
          Optics)
        </h4>
        <p>
          In this project, we studied manifestations of orbital angular momentum-induced effects in the diffraction of
          a
          radially polarized vector beam by an off-axis tilted aperture both experimentally and theoretically.
          Experiments
          were carried out to extract the degree of circular polarization, which was shown to be proportional to the
          on-axis component of the spin angular momentum density. We reported a clear separation of the regions of the
          dominance of the right and left circular polarizations associated with positive and negative topological
          charges
          respectively, which was reminiscent of the standard vortex-induced transverse shift, albeit in the
          diffraction
          scenario. The experimental results were supported by model simulations and the agreement was quite
          satisfactory.
          The results are useful to appreciate the orbit-orbit-related effects due to unavoidable misalignment
          problems
          (especially for vortex beams).
        </p>
      </div>
      <div class="topic">
        <h4>
          Exploring the origin of stronger survival of polarized vortex beams through scattering
          media
        </h4>
        <p>
          Laguerre-Gaussian (LG) beams carrying orbital angular momentum (OAM) have shown promise in deep tissue
          imaging,
          medical diagnostics, and optical communication due to their robust propagation properties through scattering
          media. However, an exact model that provides a mechanism for the enhanced scattering properties of LG beams
          over
          Gaussian beams had not been established till date. Here, we examined this issue by studying the propagation
          of
          polarized vortex beams transmitted through tissue-like turbid scattering media. We demonstrated that the
          intensity profile has a much more profound effect on depolarization than the phase profile for LG beams. Our
          results indicated that the observed stronger propagation for the higher order LG beams was due to a higher
          anisotropy factor $g$ as seen by the incident beam. This insight was expected to contribute towards building
          a
          complete picture of light transport in the presence of scattering, as well as guide optimization of the
          intensity and polarization structure of light for use in biomedical applications like tissue imaging.
        </p>
      </div>
    </div>
  </div>