/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: lato;
    src: url("./assets/fonts/Lato/Lato-Regular.ttf") format("TrueType");
    font-weight: normal;
}
@font-face {
    font-family: lato;
    src: url("./assets/fonts/Lato/Lato-Bold.ttf") format("TrueType");
    font-weight: bold;
}
@font-face {
    font-family: lato;
    src: url("./assets/fonts/Lato/Lato-Italic.ttf") format("TrueType");
    font-style: italic;
}
@font-face {
    font-family: lato;
    src: url("./assets/fonts/Lato/Lato-BoldItalic.ttf") format("TrueType");
    font-style: italic;
    font-weight: bold;
}

// @font-face {
//     font-family: lato;
//     src: url("./assets/fonts/Lato/Lato-Black.ttf") format("TrueType");
//     font-weight: bolder;
// }
// @font-face {
//     font-family: lato;
//     src: url("./assets/fonts/Lato/Lato-BlackItalic.ttf") format("TrueType");
//     font-style: italic;
//     font-weight: bolder;
// }
// @font-face {
//     font-family: lato;
//     src: url("./assets/fonts/Lato/Lato-Light.ttf") format("TrueType");
//     font-weight: 200;
// }
// @font-face {
//     font-family: lato;
//     src: url("./assets/fonts/Lato/Lato-LightItalic.ttf") format("TrueType");
//     font-style: italic;
//     font-weight: 200;
// }
// @font-face {
//     font-family: lato;
//     src: url("./assets/fonts/Lato/Lato-Thin.ttf") format("TrueType");
//     font-weight: lighter;
// }
// @font-face {
//     font-family: lato;
//     src: url("./assets/fonts/Lato/Lato-ThinItalic.ttf") format("TrueType");
//     font-style: italic;
//     font-weight: lighter;
// }
